*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    height: 50vh;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

img{
    height: 100%;
    width: 100%;
}

.my_preview-images img{
    opacity: 0.5;
    height: calc(100% / 5);
}

.my_preview-images, .my_main-picture{
    position: relative;
}

.my_main-picture .my_pic-info{
    position: absolute;
    color: rgb(255, 255, 255);
    padding: 0 50px;
    text-align: end;
    bottom: 10px;
}

.my_preview-images .prev, .my_preview-images .succ{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    cursor: pointer;
    padding: 2px 5px;
    z-index: 1;
    opacity: 0.8;
}

.my_preview-images .prev{
    top: 10px;
}

.my_preview-images .succ{
    bottom: 10px;
}

#active{
    opacity: 1;
    border: 3px solid rgb(255, 255, 255);
}